/* Structure */
.example-container {
  position: relative;
  padding: 5px;
}

.example-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.example-full-width {
  width: 100%;
}

.example-full-width:nth-last-child(0) {
  margin-bottom: 10px;
}

.button-row {
  margin: 10px 0;
}

.mat-flat-button {
  margin: 5px;
}
::ng-deep input.price-input::-webkit-outer-spin-button,
::ng-deep input.price-input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.edit-shipment-modal{
  position: relative;
  .status-button{
    position: absolute;
    top: -10px;
    left:0px;
    padding: 0px 30px;
    border:1px solid var(--color-dark);
    border-radius: 100px !important;
    opacity: 1;
    height: 40px;
    line-height: 40px !important;
    font: 600 18px/24px Assistant;
    letter-spacing: 0px;
    color: #072550!important;
    ::ng-deep .inc-button {
      background-image: url("./../../../../assets/img/up-arrow.svg") !important;
      background-repeat: no-repeat;
      background-size: 7px;
      background-position: 5px 5px;
      background-color: transparent;
      left: 10px;
      top: 8px;
    }
    
    ::ng-deep .dec-button {
      background-image: url("./../../../../assets/img/down-arrow.svg") !important;
      background-repeat: no-repeat;
      background-size: 7px;
      background-position: 5px 5px;
      background-color: transparent;
      left: 10px;
      top: 18px;
    }
    

}
.bullet-point {
  height: 10px;
  width:10px;
  border-radius: 50%;
  background-color:var(--color-dark);
  position: absolute;
    top: 2px;
    bottom: 0px;
    right: 15px;
    margin: auto;
}
  h2{
    font: 700 20px/26px Assistant;
    letter-spacing: 0px;
    color: #072550;
  }
  .mat-divider{
    margin-bottom: 10px;
    margin-top: 10px;

  }
  .mat-divider-bottom{
    margin-top: 25px;
  }
  .textarea-form-field{
    top: calc(95px)!important;
    height: calc(110px)!important;
  }
  .mat-datepicker-toggle{
    position: absolute;
    left: 5px;
    top: -15px;
  }
  ::ng-deep .mat-select-arrow{
    border-left: 10px solid transparent !important;
    border-right: none;
    
    border-image-source: url("./../../../../assets/img/down-arrow.svg") !important;
    border-image-repeat: stretch !important;
  }
 
  ::ng-deep .mat-form-field-appearance-legacy .mat-form-field-label{
    font: 600 18px/24px Assistant;
    letter-spacing: 0px;
    color: #051F43;
  }
  ::ng-deep .mat-input-underline {
    display: none;
}


::ng-deep .mat-form-field-appearance-legacy .mat-form-field-infix{
  background: #FCFDFE 0% 0% no-repeat padding-box;
  border: 1px solid #E7E9ED;
  border-radius: 5px;
  height: 25px;
  line-height: 25px;
  padding: 5px;
  margin-top: 30px;
}
::ng-deep .textarea-form-field .mat-form-field-appearance-legacy .mat-form-field-infix{
  height: 50px;
}

::ng-deep .hidden-form-field .mat-form-field-appearance-legacy .mat-form-field-infix{
  background: none; 
  border: none;
}
::ng-deep input.mat-input-element{
  font: 500 16px/24px Assistant;
  letter-spacing: 0px;
  color: #051F43;

}
::ng-deep mat-select  .mat-select-value-text{
  font: 500 16px/24px Assistant;
  letter-spacing: 0px;
  color: #072550;
}
::ng-deep .mat-form-field-label-wrapper{
  top: -30px;
}


::ng-deep .mat-form-field-underline {
  display: none;
}
::ng-deep .spinner-button {
  position: absolute;
  cursor: default;
  z-index: 2;
  background-color: #fcfdfe;
  width: 14.5px;
  text-align: center;
  margin: 0px;
  pointer-events: none;
  height: 15px;
  line-height: 15px;
}

::ng-deep .inc-button {
  background-image: url("./../../../../assets/img/up-arrow.svg") !important;
  background-repeat: no-repeat;
  background-size: 8px;
  background-position: 5px 5px;
  padding-right: 5px;
  left: 5px;
  top: 4.5px;
}

::ng-deep .dec-button {
  background-image: url("./../../../../assets/img/down-arrow.svg") !important;
  background-repeat: no-repeat;
  background-size: 8px;
  background-position: 5px 5px;
  padding-right: 5px;
  left: 5px;
  top: 15px;
}
.currency-span{
  font: 500 16px/24px Assistant;
  letter-spacing: 0px;
  color: #A8A8A8;
  position: absolute;
  right:5px;
}
::ng-deep .mat-dialog-content{
  padding-bottom: 3px!important;

}
.upload-img-container{
  margin-top: -40px;
  display: flex;
  flex-flow: wrap;

}
.file-upload-button{

  background: #FFFFFF 0% 0% no-repeat padding-box;
  border: 1px solid #707070;
  border-radius: 10px;
  width:100px;
  height:100px;
  padding: 20px 0px;
  p{
    text-align: center;
    font: 600 16px/17px Assistant;
    letter-spacing: 0px;
    color: #051F43;
    word-wrap: break-word;
    white-space: normal;
    width: 100px;
    margin-bottom: 0px;
  }
  ::ng-deep .upload-icon svg .a{
      fill: inherit;
      stroke: inherit;
    
  }
}

.product-image{
  position:relative;

  width: 100px;
  height: 100px;
  margin: 5px 0px 5px 5px;
  img{
  width: 100px;
  height: 100px;
    border-radius: 10px;
  }
  .cancel-icon{
    position: absolute;
    left:5px;
    top: 5px;
    width: 19px;
    height: 19px;
    cursor: pointer;
  }
  
  
}
.category-link{
  position: absolute;
  top: -40px;
  left: 0px;
  font: 600 14px/20px Assistant;
  letter-spacing: 0px;
  color: #051F43;
  .add-icon{
    width: 19px;
    height: 19px;
    top: 12px;
    img{
      margin-top: -23px;
    margin-right: -4px;
    }
  }
}
.mat-input-element:disabled, .mat-form-field-type-mat-native-select.mat-form-field-disabled .mat-form-field-infix::after{
  color:#A8A8A8;
  
}
.order-details-grid{

  font: 600 14px/24px Assistant;
  letter-spacing: 0px;
  color: #051F43;
  .order-details-product{
      border-right: none!important;
  }
  .order-details-cost{
      border-left: none!important;
      ::ng-deep span{
          margin-right: 2px;
      }
  }
  ::ng-deep .order-details-product .mat-figure{
      justify-content: right;
  }
  .header-label{
      margin-top:35px;
  }

  .order-details-cell{
      border: 1px solid #E0E0E0;
      border-right: none;
  }
  .mat-form-field{
      width: 100%;
      margin-left: 15px;
  }
  ::ng-deep .mat-form-field-appearance-legacy .mat-form-field-infix{
      background: #FCFDFE 0% 0% no-repeat padding-box;
      border: 1px solid #E7E9ED;
      border-radius: 5px;
      height: 25px;
      line-height: 25px;
      padding: 5px;
      margin-top: 30px;
      font: 600 16px/26px Assistant;
      color: #051D3F;

    }
    input.mat-input-element, textarea.mat-input-element {
      font: 600 16px/24px Assistant;
      letter-spacing: 0px;
      color: #051F43;
  }
  
  .currency-span{
      font: 500 16px/24px Assistant;
      letter-spacing: 0px;
      color: #A8A8A8;
      position: absolute;
      right:5px;
      top: 7px;

    }





}
  
}
