<div class="edit-shipment-modal">
  <button type="button" *ngIf="shipment.status!=null" (click)="changeStatus(shipment)" [ngStyle]="{'border-color':statusList[shipment.status].color}" mat-button class="status-button">
    <div [ngStyle]="{'background-color':statusList[shipment.status].color}" class="bullet-point"></div>
    {{statusList[shipment.status].text}}
    <div  class="inc-button spinner-button"></div> 
    <div  class="dec-button spinner-button"></div>
  </button>
  <h2>ערוך הזמנה קיימת</h2>
  <!-- <div class="example-loading-shade"
    *ngIf="isLoadingResults">
  <mat-spinner *ngIf="isLoadingResults"></mat-spinner>
  </div> -->
  <mat-divider></mat-divider>
  <mat-dialog-content>
    <form [formGroup]="shipmentForm" (ngSubmit)="onFormSubmit()">
      <mat-grid-list cols="3" rowHeight="80" [gutterSize]="'25px'">
          
          <mat-grid-tile colspan="1">
            <mat-form-field floatLabel="always" class="example-full-width">
              <mat-label>שם מלא</mat-label> 
              <input  matInput placeholder="שם מלא" formControlName="customer_name">
              <mat-error>
                <span *ngIf="!shipmentForm.get('customer_name').valid && shipmentForm.get('customer_name').touched">יש למלא שם מלא</span>
              </mat-error>
            </mat-form-field>
          </mat-grid-tile>
          <mat-grid-tile colspan="1">
            <mat-form-field floatLabel="always" class="example-full-width">
                <mat-label>אימייל</mat-label> 
                <input  matInput placeholder="אימייל" formControlName="customer_email"  >
                <mat-error>
                  <span *ngIf="!shipmentForm.get('customer_email').valid && shipmentForm.get('customer_email').touched">יש למלא אימייל</span>
                </mat-error>
              </mat-form-field>
          </mat-grid-tile> 
          <mat-grid-tile colspan="1">
            <mat-form-field floatLabel="always" class="example-full-width">
                <mat-label>טלפון</mat-label> 
                <input  matInput placeholder="טלפון" formControlName="customer_phone"  >
                <mat-error>
                  <span *ngIf="!shipmentForm.get('customer_email').valid && shipmentForm.get('customer_email').touched">יש למלא אימייל</span>
                </mat-error>
              </mat-form-field>
          </mat-grid-tile> 
          <mat-grid-tile colspan="1" *ngIf="shipment.customer_company">
            <mat-form-field floatLabel="always" class="example-full-width">
                <mat-label>שם החברה</mat-label> 
                <input  matInput placeholder="טלפון" formControlName="customer_company"  >
              </mat-form-field>
          </mat-grid-tile> 
          <mat-grid-tile colspan="1">
            <mat-form-field floatLabel="always" class="example-full-width">
              <mat-label>כתובת למשלוח</mat-label> 
              <input  matInput placeholder="כתובת למשלוח" formControlName="customer_address"  >
              <mat-error>
                <span *ngIf="!shipmentForm.get('customer_address').valid && shipmentForm.get('customer_address').touched">יש למלא כתובת למשלוח</span>
              </mat-error>
            </mat-form-field>
          </mat-grid-tile>
          <mat-grid-tile colspan="1">
            <mat-form-field floatLabel="always" class="example-full-width">
              <mat-label>עיר</mat-label> 
              <input  matInput placeholder="עיר" formControlName="customer_city"  >
              <mat-error>
                <span *ngIf="!shipmentForm.get('customer_city').valid && shipmentForm.get('customer_city').touched">יש למלא עיר</span>
              </mat-error>
            </mat-form-field>
          </mat-grid-tile>
          <mat-grid-tile colspan="1" *ngIf="shipment.delivery_type_id && shipment.delivery_type_id!=0">
            <mat-form-field floatLabel="always" class="example-full-width">
              <mat-label>סוג המשלוח</mat-label> 
              <input  matInput placeholder="עיר" [value]="shipment.delivery_type" disabled>
            </mat-form-field>
          </mat-grid-tile>
           <mat-grid-tile colspan="3">
            <mat-form-field floatLabel="always" class="example-full-width">
              <mat-label>הערה להזמנה</mat-label> 
              <input  matInput placeholder="הערה להזמנה" formControlName="customer_note"  >
            </mat-form-field>
          </mat-grid-tile>
      </mat-grid-list>
      <mat-grid-list *ngIf="orderDetails.controls.length>0" cols="8" rowHeight="40px" class="order-details-grid" >
        <ng-container >
          <mat-grid-tile class="order-details-product" colspan="5">פירוט ההזמנה</mat-grid-tile>
          <mat-grid-tile  colspan="1">כמות</mat-grid-tile>
          <mat-grid-tile colspan="2" >סה"כ</mat-grid-tile>
      </ng-container>
      <ng-container  formArrayName="order_details">
          <ng-container *ngFor="let item of orderDetails.controls; let i = index" [formGroupName]="i">
              <mat-grid-tile class="order-details-product order-details-cell" colspan="5">
                      {{orderDetails.at(i).get('name').value.toString()}}
              </mat-grid-tile>
              <mat-grid-tile class="order-details-cell" colspan="1">
                {{orderDetails.at(i).get('quantity').value.toString()}}
              </mat-grid-tile>
              <mat-grid-tile class="order-details-cost order-details-cell" colspan="2">
                  {{(orderDetails.at(i).get('cost').value*orderDetails.at(i).get('quantity').value).toString()}}
                  <span  *ngIf="orderDetails.at(i).get('cost').value">₪</span>
              </mat-grid-tile>
          </ng-container>
            <ng-container *ngIf="shipment.coupon">
                <mat-grid-tile class="order-details-product order-details-cell" colspan="5">
                      {{shipment.coupon.name}}
                </mat-grid-tile>
                <mat-grid-tile class="order-details-cell" colspan="1">
                  1
                </mat-grid-tile>
                <mat-grid-tile class="order-details-cost order-details-cell" colspan="2">
                    -{{shipment.coupon.discount}} {{discoutTypeList[shipment.coupon.discount_type-1]?.text}}
                </mat-grid-tile>
            </ng-container>
          <ng-container *ngIf="shipment.delivery_type_id!=0">
              <mat-grid-tile class="order-details-product order-details-cell" colspan="5">
                     משלוח: {{shipment.delivery_type}}
              </mat-grid-tile>
              <mat-grid-tile class="order-details-cell" colspan="1">
                1
              </mat-grid-tile>
              <mat-grid-tile class="order-details-cost order-details-cell" colspan="2">
                  {{shipment.delivery_cost}}
                  <span>₪</span>
              </mat-grid-tile>
          </ng-container>
      </ng-container>
      
      
    
      </mat-grid-list>
      <mat-grid-list  cols="3" rowHeight="80px" [gutterSize]="'25px'" class="credit-card-details">
      <ng-container >
          <mat-grid-tile *ngIf="!gift_shipment" class="order-details-product" colspan="1">              
              <mat-form-field class="example-full-width">
                <mat-label>אסמכתא</mat-label> 
                <input matInput disabled="true" [value]="shipment.reference"/>
              </mat-form-field>
            </mat-grid-tile>
          <mat-grid-tile *ngIf="!gift_shipment" class="order-details-product" colspan="1"> 
                <mat-form-field class="example-full-width">
                    <mat-label>מס' אישור חברת אשראי</mat-label> 
                  <input matInput disabled="true" [value]="shipment.payment_id"/>
                  </mat-form-field>
            </mat-grid-tile>
          <mat-grid-tile *ngIf="!gift_shipment" class="order-details-product" colspan="1" >              
              <mat-form-field class="example-full-width">
                <mat-label>4 ספרות אחרונות של הכרטיס</mat-label> 
                <input matInput disabled="true" [value]="shipment.digit4"/>
              </mat-form-field>
            </mat-grid-tile>
          <mat-grid-tile >
            <mat-form-field floatLabel="always" class="example-full-width">
              <mat-label>סכום</mat-label>
              <input  type="number" class="price-input" min="0" matInput placeholder="סכום" formControlName="sum"  >
              <span class="currency-span" [ngStyle]="{'right':((shipmentForm.get('sum').value.toString().length)*10+5)+'px' }" *ngIf="shipmentForm.get('sum').value" >₪</span>
              <!-- <div  class="inc-button spinner-button"></div>
              <div  class="dec-button spinner-button"></div> -->
              <mat-error>
                <span *ngIf="!shipmentForm.get('sum').valid && shipmentForm.get('sum').touched">יש למלא סכום</span>
              </mat-error>
            </mat-form-field>
          </mat-grid-tile>
            <mat-grid-tile *ngIf="!gift_shipment" class="order-details-product" colspan="1" >              
              <mat-form-field class="example-full-width">
                  <mat-label>מס' תשלומים</mat-label> 
                <input matInput disabled="true" [value]="shipment.payments"/>
                </mat-form-field>
            </mat-grid-tile>
            <mat-grid-tile *ngIf="shipment.hesh!='0'&&!gift_shipment" class="order-details-product" colspan="1"  >              
              <mat-form-field class="example-full-width">
                  <mat-label>מס' חשבונית</mat-label> 
                <input matInput disabled="true" [value]="shipment.hesh"/>
                </mat-form-field>
            </mat-grid-tile>
          </ng-container>
      </mat-grid-list>
      <mat-divider class="mat-divider-bottom"></mat-divider> 
      <button mat-button type="submit" [disabled]="!shipmentForm.valid" class="save-item-button save-item-button-primary edit-item-button" >
      שמור
      </button>
      <!-- <button mat-button type="button" (click)="openDeleteConfirmModal()" class="save-item-button remove-item-button " >
        הסר הזמנה
      </button> -->
    </form>
</mat-dialog-content>
</div>

