<div class="dialog-confirm" *ngIf="data.canDeleted">
<img src="./assets/img/delete.svg">
<h5>האם אתה בטוח שברצונך למחוק פריט זה?</h5>
  <div>
    <button mat-button type="submit" [mat-dialog-close]="false" tabindex="-1" class="save-item-button remove-item-button primary-button" >
        ביטול
    </button>
    <button mat-button type="button" [mat-dialog-close]="true" tabindex="-1" class="save-item-button remove-item-button " >
        הסר פריט
    </button>
  </div> 
</div>
<div class="dialog-confirm" *ngIf="!data.canDeleted">
  <h5>לא ניתן למחוק קטגוריה זו, כיון שיש לה מוצרים משויכים</h5>
  <div>
    <button mat-button type="submit" [mat-dialog-close]="false" tabindex="-1" class="save-item-button remove-item-button primary-button" >
        אישור
    </button>
  </div> 
</div>