<div class="example-container mat-elevation-z8">
    <mat-toolbar class="mat-toolbar-multiple">
        <mat-toolbar-row> 
            <h1>מוצרים</h1>

        </mat-toolbar-row>
        <mat-toolbar-row>           
             <h5>סה״כ מוצרים: <b>{{data.length}} מוצרים</b></h5>
             <button mat-button class="add-item-button" (click)="addProduct()">הוסף מוצר     
                <mat-icon class="add-item-icon"  [inline]="false" svgIcon="plus"></mat-icon>
            </button>
        </mat-toolbar-row>   
     

    </mat-toolbar>

    <div class="example-loading-shade" *ngIf="isLoadingResults">
        <mat-spinner *ngIf="isLoadingResults"></mat-spinner>
    </div>
     
    <div class="mat-elevation-z8">
        <table mat-table [dataSource]="data" class="example-table mat-elevation-z8" matSort matSortActive="name" matSortDisableClear matSortDirection="asc">

            <!-- products Status Column -->
            <ng-container matColumnDef="status">
                <th mat-header-cell *matHeaderCellDef>פעיל?</th>
                <td mat-cell *matCellDef="let row">
                    <mat-slide-toggle color="primary"  [checked]="row.status==1" (change)="changeStatus(row,$event)"></mat-slide-toggle>                  
                </td>
            </ng-container>

            <!-- products Age Column -->
            <ng-container matColumnDef="id">
                <th mat-header-cell *matHeaderCellDef>מק"ט</th>
                <td mat-cell *matCellDef="let row">{{row.catalog_number}}</td>
            </ng-container>

            <!-- products Age Column -->
            <ng-container matColumnDef="img">
                <th mat-header-cell *matHeaderCellDef>תמונה</th>
                <td mat-cell *matCellDef="let row"><mat-icon class="img-icon" *ngIf="row.path" svgIcon="img"></mat-icon>
                </td>
            </ng-container>

            <!-- products Name Column -->
            <ng-container matColumnDef="name">
                <th mat-header-cell *matHeaderCellDef>שם מוצר</th>
                <td mat-cell *matCellDef="let row">{{row.name}}</td>
            </ng-container>
            <!-- products Name Column -->
            <ng-container matColumnDef="category">
                <th mat-header-cell *matHeaderCellDef>קטגוריה</th>
                <td mat-cell *matCellDef="let row">{{row.category}}</td>
            </ng-container>

            <!-- products Name Column -->
            <ng-container matColumnDef="description">
                <th mat-header-cell *matHeaderCellDef>תאור מוצר</th>
                <td mat-cell *matCellDef="let row">{{row.description}}</td>
            </ng-container>

            <!-- products Name Column -->
            <!-- <ng-container matColumnDef="english_name">
                <th mat-header-cell *matHeaderCellDef>שם מוצר לועזי</th>
                <td mat-cell *matCellDef="let row">{{row.english_name}}</td>
            </ng-container> -->

            <!-- products Name Column -->
            <!-- <ng-container matColumnDef="english_description">
                <th mat-header-cell *matHeaderCellDef>תיאור מוצר לועזי</th>
                <td mat-cell *matCellDef="let row">{{row.english_description}}</td>
            </ng-container> -->

            <!-- products Name Column -->
            <ng-container matColumnDef="price">
                <th mat-header-cell *matHeaderCellDef>מחיר</th>
                <td mat-cell *matCellDef="let row">{{row.price}} ₪</td>
            </ng-container>

            <!-- products Name Column -->
            <ng-container matColumnDef="sale_price">
                <th mat-header-cell *matHeaderCellDef>מחיר מבצע</th>
                <td mat-cell *matCellDef="let row">{{row.sale_price}} {{row.sale_price!=null?'₪':''}}</td>
            </ng-container>

            <!-- products Name Column -->
            <ng-container matColumnDef="stock_units">
                <th mat-header-cell *matHeaderCellDef>מלאי</th>
                <td mat-cell *matCellDef="let row">{{row.stock_units}} יח'</td>
            </ng-container>

            <!-- products Name Column -->
            <!-- <ng-container matColumnDef="stock_units">
          <th mat-header-cell *matHeaderCellDef>כמות רכישות</th>
          <td mat-cell *matCellDef="let row">{{row.stock_units}}</td>
        </ng-container> -->


            <ng-container matColumnDef="open">
                <th mat-header-cell *matHeaderCellDef></th>
                <td mat-cell *matCellDef="let row" class="actions-cell">
                    <div>
                    <a (click)="viewProduct(row.id)">
                        <mat-icon [inline]="false" svgIcon="view"></mat-icon>
                    </a>
                    <a (click)="editProduct(row.id)">
                        <mat-icon [inline]="false" svgIcon="edit"></mat-icon>
                    </a>
                    <a (click)="openDeleteConfirmModal(row)">
                        <mat-icon [inline]="false" svgIcon="trash"></mat-icon>
                    </a>
                </div>

            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns" ></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
    </div>
</div>