    <!-- <div class="example-loading-shade"
          *ngIf="isLoadingResults">
      <mat-spinner *ngIf="isLoadingResults"></mat-spinner>
    </div> -->
    <form [formGroup]="settingsForm" (ngSubmit)="onFormSubmit()">

    <div class="account-settings">

      <mat-grid-list cols="2" rowHeight="80" [gutterSize]="'25px'">
        <mat-grid-tile >
          <mat-form-field floatLabel="always"   class="example-full-width">
            <mat-label>שם העסק</mat-label>
            <input matInput placeholder="שם העסק" formControlName="company_name"  [errorStateMatcher]="matcher">
            <mat-error><span *ngIf="!settingsForm.get('company_name').valid && settingsForm.get('company_name').touched">יש למלא את שם העסק.</span></mat-error>
          </mat-form-field>
        </mat-grid-tile>
        <mat-grid-tile >
          <mat-form-field floatLabel="always" class="example-full-width">
            <mat-label>דואר אלקטרוני</mat-label>
            <input type="email" matInput placeholder="דואר אלקטרוני" formControlName="company_email" email
                    [errorStateMatcher]="matcher">
            <mat-error>
              <span *ngIf="!settingsForm.get('company_email').valid && settingsForm.get('company_email').touched">יש למלא דואר אלקטרוני.</span>
            </mat-error>
          </mat-form-field>
        </mat-grid-tile>
        <mat-grid-tile >
          
      <mat-form-field floatLabel="always" class="example-full-width">
        <mat-label>טלפון</mat-label>
        <input matInput placeholder="טלפון" formControlName="company_phone"
                [errorStateMatcher]="matcher">
        <mat-error>
          <span *ngIf="!settingsForm.get('company_phone').valid && settingsForm.get('company_phone').touched">יש למלא מספר טלפון.</span>
        </mat-error>
      </mat-form-field>
        </mat-grid-tile>
        <mat-grid-tile ></mat-grid-tile>
        <mat-grid-tile >
          <mat-form-field floatLabel="always" class="example-full-width">
            <mat-label>רחוב</mat-label>
            <input matInput placeholder="רחוב" formControlName="company_address"
                    [errorStateMatcher]="matcher">
            <mat-error>
              <span *ngIf="!settingsForm.get('company_address').valid && settingsForm.get('company_address').touched">יש למלא את כתובת ראשית.</span>
            </mat-error>
          </mat-form-field>
        </mat-grid-tile>
              <mat-grid-tile >
          <mat-form-field floatLabel="always" class="example-full-width">
            <mat-label>עיר/ישוב</mat-label>
            <input matInput placeholder="עיר/ישוב" formControlName="company_city"
                    [errorStateMatcher]="matcher">
            <mat-error>
              <span *ngIf="!settingsForm.get('company_city').valid && settingsForm.get('company_city').touched">יש למלא את באנר ראשי.</span>
            </mat-error>
          </mat-form-field>
        </mat-grid-tile>
    
      </mat-grid-list>

    </div>
     <div class="tabs-footer">
    <mat-divider></mat-divider> 
    <button mat-button type="submit" [disabled]="!settingsForm.valid" class="save-item-button save-item-button-primary" >שמור שינויים     
    </button>
  </div>
    </form>
    
     

       
       
        
<!--         
        <mat-form-field class="example-full-width">
          <mat-label>קישור לפניה בוואצפ</mat-label>
          <input matInput placeholder="קישור לפניה בוואצפ" formControlName="whatsapp_link"
                  [errorStateMatcher]="matcher">
        </mat-form-field>
        <mat-form-field class="example-full-width">
          <mat-label>קישור לפניה במסנג'ר</mat-label>
          <input matInput placeholder="קישור לפניה במסנג'ר" formControlName="messenger_link"
                  [errorStateMatcher]="matcher">
          
        </mat-form-field>
        <mat-form-field class="example-full-width">
          <mat-label>כתובת דף תשלום</mat-label>
          <input matInput placeholder="כתובת דף תשלום" formControlName="payment_page_address"
                  [errorStateMatcher]="matcher">
                  <mat-error>
                      <span *ngIf="!settingsForm.get('languages').valid && settingsForm.get('languages').touched">יש למלא את כתובת דף תשלום.</span>
                    </mat-error>
        </mat-form-field>
        <mat-form-field class="example-full-width">
          <mat-label>כתובת עמוד הצלחה</mat-label>
          <input matInput placeholder="כתובת עמוד הצלחה" formControlName="success_page_address"
                  [errorStateMatcher]="matcher">
                  <mat-error>
                      <span *ngIf="!settingsForm.get('languages').valid && settingsForm.get('languages').touched">יש למלא את כתובת עמוד הצלחה.</span>
                    </mat-error>
        </mat-form-field>
        <mat-form-field class="example-full-width">
          <mat-label>קוד אנליטיקס</mat-label>
          <input matInput placeholder="קוד אנליטיקס" formControlName="code_analytics"
                  [errorStateMatcher]="matcher">
         
        </mat-form-field>
        <mat-form-field class="example-full-width">
          <mat-label>קישור לתקנון</mat-label>
          <input matInput placeholder="קישור לתקנון" formControlName="terms_link"
                  [errorStateMatcher]="matcher">
        </mat-form-field>
         <mat-form-field class="example-full-width">
          <mat-label>מטבע</mat-label>
          <input matInput placeholder="מטבע" formControlName="currency"
                  [errorStateMatcher]="matcher">
          <mat-error>
            <span *ngIf="!settingsForm.get('currency').valid && settingsForm.get('currency').touched">יש למלא את מטבע.</span>
          </mat-error>
        </mat-form-field>
        <mat-form-field class="example-full-width">
          <mat-label>שפות להצגה - בחירה</mat-label>
          <input matInput placeholder="שפות להצגה - בחירה" formControlName="languages"
                  [errorStateMatcher]="matcher">
          <mat-error>
            <span *ngIf="!settingsForm.get('languages').valid && settingsForm.get('languages').touched">יש למלא את שפות להצגה.</span>
          </mat-error>
        </mat-form-field> -->
        
      
      