<div class="orders-component example-container mat-elevation-z8">
   <mat-grid-list  cols="8" rowHeight="80px">
      <ng-container >
          <mat-grid-tile class="" colspan="6">
            <mat-toolbar class="mat-toolbar-multiple">
                <mat-toolbar-row> 
                    <h1>הזמנות</h1>

                </mat-toolbar-row>
                <mat-toolbar-row>           
                    <h5>סה״כ הזמנות: <b>{{data.length}} הזמנות</b></h5>
                    
                </mat-toolbar-row>   
              </mat-toolbar>
          </mat-grid-tile>
          <mat-grid-tile class="search" colspan="2">
            <app-search [fullArray]="data" (ReturnFilterArray)="onChangeSearch($event)" [filterby]="filterBy"></app-search>
          </mat-grid-tile>
        </ng-container>
      </mat-grid-list>
  

    <div class="example-loading-shade"
         *ngIf="isLoadingResults">
      <mat-spinner *ngIf="isLoadingResults"></mat-spinner>
    </div>
    <mat-tab-group mat-align-tabs="start" (selectedTabChange)="changeTab($event)">
      <mat-tab label="כל ההזמנות">
      <div class="mat-elevation-z8">
      <table mat-table [dataSource]="filterArray" class="example-table mat-elevation-z8"
             matSort matSortActive="name" matSortDisableClear matSortDirection="asc">
  
        <!-- shipments Status Column -->
        <ng-container matColumnDef="catalog_number">
          <th mat-header-cell *matHeaderCellDef>הזמנה</th>
          <td mat-cell *matCellDef="let row">{{row.catalog_number}}</td>
        </ng-container>
        <ng-container matColumnDef="customer_name">
          <th mat-header-cell *matHeaderCellDef>שם הלקוח</th>
          <td mat-cell *matCellDef="let row">
            {{row.customer_name}}
         
          </td>
        </ng-container>
       
        <ng-container matColumnDef="sum">
          <th mat-header-cell *matHeaderCellDef>סכום</th>
          <td mat-cell *matCellDef="let row">{{row.sum}} ₪</td>
        </ng-container>
        <!-- shipments Status Column -->
        <ng-container matColumnDef="datetime">
          <th mat-header-cell *matHeaderCellDef>תאריך הזמנה</th>
          <td mat-cell *matCellDef="let row">{{row.date_time |  date:'dd.MM.yy HH:mm'}}</td>
        </ng-container>
    
        <ng-container matColumnDef="delivery_type">
          <th mat-header-cell *matHeaderCellDef>סוג משלוח</th>
          <td mat-cell *matCellDef="let row">{{row.delivery_type}}</td>
        </ng-container>
        <ng-container matColumnDef="customer_address">
          <th mat-header-cell *matHeaderCellDef>כתובת למשלוח</th>
          <td mat-cell *matCellDef="let row">
            {{row.customer_address}}
            
          </td>
        </ng-container>
        <ng-container matColumnDef="customer_lastname">
          <th mat-header-cell *matHeaderCellDef>שם משפחה</th>
          <td mat-cell *matCellDef="let row">
            {{row.customer_lastname}}
         
          </td>
        </ng-container>
        <ng-container matColumnDef="customer_city">
          <th mat-header-cell *matHeaderCellDef>עיר</th>
          <td mat-cell *matCellDef="let row">
            {{row.customer_city}}
            
          </td>
        </ng-container>      
        
        <!-- <ng-container matColumnDef="code_coupon">
          <th mat-header-cell *matHeaderCellDef>קוד קופון</th>
          <td mat-cell *matCellDef="let row">{{row.code_coupon}}</td>
        </ng-container> -->
       
        <!-- <ng-container matColumnDef="details">
          <th mat-header-cell *matHeaderCellDef>פרטי משלוח</th>
          <td mat-cell *matCellDef="let row">
            <p *ngFor="let item of row.order_details">- {{item.name}}</p>
          </td>
        </ng-container>
        -->

        <!-- shipments Status Column -->
        <ng-container matColumnDef="status">
          <th class="status-cell"   mat-header-cell *matHeaderCellDef>סטטוס</th>
          <td class="status-cell" mat-cell *matCellDef="let row">

            <button  [ngStyle]="{'border-color':statusList[row.status].color}" mat-button class="status-button">
              <div [ngStyle]="{'background-color':statusList[row.status].color}" class="bullet-point"></div>

              {{statusList[row.status].text}}
              <div  class="inc-button spinner-button"></div> 
              <div  class="dec-button spinner-button"></div>
            
            </button></td>
        </ng-container>
        

        <ng-container matColumnDef="actions">
          <th mat-header-cell *matHeaderCellDef></th>
          <td mat-cell *matCellDef="let row" class="actions-cell">
               <div>
              <a (click)="viewShipment(row.id)">
                  <mat-icon [inline]="false" svgIcon="view"></mat-icon>
              </a>
              <a (click)="editShipment(row.id)">
                  <mat-icon [inline]="false" svgIcon="edit"></mat-icon>
              </a> 
              
          </div> 

      </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;" ></tr>

      </table>
      </div>
      </mat-tab>
      <mat-tab label="הזמנות ממתינות למשלוח">
        <div class="mat-elevation-z8">
        <table mat-table [dataSource]="filterArray" class="example-table mat-elevation-z8"
              matSort matSortActive="name" matSortDisableClear matSortDirection="asc">
    
          <!-- shipments Status Column -->
          <ng-container matColumnDef="catalog_number">
            <th mat-header-cell *matHeaderCellDef>הזמנה</th>
            <td mat-cell *matCellDef="let row">{{row.catalog_number}}</td>
          </ng-container>
          <ng-container matColumnDef="customer_name">
            <th mat-header-cell *matHeaderCellDef>שם הלקוח</th>
            <td mat-cell *matCellDef="let row">
              {{row.customer_name}}
          
            </td>
          </ng-container>
        
          <ng-container matColumnDef="sum">
            <th mat-header-cell *matHeaderCellDef>סכום</th>
            <td mat-cell *matCellDef="let row">{{row.sum}} ₪</td>
          </ng-container>
          <!-- shipments Status Column -->
          <ng-container matColumnDef="datetime">
            <th mat-header-cell *matHeaderCellDef>תאריך הזמנה</th>
            <td mat-cell *matCellDef="let row">{{row.date_time |  date:'dd.MM.yy HH:mm'}}</td>
          </ng-container>
      
          <ng-container matColumnDef="delivery_type">
            <th mat-header-cell *matHeaderCellDef>סוג משלוח</th>
            <td mat-cell *matCellDef="let row">{{row.delivery_type}}</td>
          </ng-container>
          <ng-container matColumnDef="customer_address">
            <th mat-header-cell *matHeaderCellDef>כתובת למשלוח</th>
            <td mat-cell *matCellDef="let row">
              {{row.customer_address}}
              
            </td>
          </ng-container>
          <ng-container matColumnDef="customer_lastname">
            <th mat-header-cell *matHeaderCellDef>שם משפחה</th>
            <td mat-cell *matCellDef="let row">
              {{row.customer_lastname}}
          
            </td>
          </ng-container>
          <ng-container matColumnDef="customer_city">
            <th mat-header-cell *matHeaderCellDef>עיר</th>
            <td mat-cell *matCellDef="let row">
              {{row.customer_city}}
              
            </td>
          </ng-container>      
          
          <!-- <ng-container matColumnDef="code_coupon">
            <th mat-header-cell *matHeaderCellDef>קוד קופון</th>
            <td mat-cell *matCellDef="let row">{{row.code_coupon}}</td>
          </ng-container> -->
        
          <!-- <ng-container matColumnDef="details">
            <th mat-header-cell *matHeaderCellDef>פרטי משלוח</th>
            <td mat-cell *matCellDef="let row">
              <p *ngFor="let item of row.order_details">- {{item.name}}</p>
            </td>
          </ng-container>
          -->

          <!-- shipments Status Column -->
          <ng-container matColumnDef="status">
            <th class="status-cell"   mat-header-cell *matHeaderCellDef>סטטוס</th>
            <td class="status-cell" mat-cell *matCellDef="let row">

              <button  [ngStyle]="{'border-color':statusList[row.status].color}" mat-button class="status-button">
                <div [ngStyle]="{'background-color':statusList[row.status].color}" class="bullet-point"></div>

                {{statusList[row.status].text}}
                <div  class="inc-button spinner-button"></div> 
                <div  class="dec-button spinner-button"></div>
              
              </button></td>
          </ng-container>
          

          <ng-container matColumnDef="actions">
            <th mat-header-cell *matHeaderCellDef></th>
            <td mat-cell *matCellDef="let row" class="actions-cell">
                <div>
                <a (click)="viewShipment(row.id)">
                    <mat-icon [inline]="false" svgIcon="view"></mat-icon>
                </a>
                <a (click)="editShipment(row.id)">
                    <mat-icon [inline]="false" svgIcon="edit"></mat-icon>
                </a> 
                
            </div> 

        </ng-container>
          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;" ></tr>

        </table>
        </div></mat-tab>
      <mat-tab label="הזמנות שנשלחו">
        <div class="mat-elevation-z8">
        <table mat-table [dataSource]="filterArray" class="example-table mat-elevation-z8"
              matSort matSortActive="name" matSortDisableClear matSortDirection="asc">
    
          <!-- shipments Status Column -->
          <ng-container matColumnDef="catalog_number">
            <th mat-header-cell *matHeaderCellDef>הזמנה</th>
            <td mat-cell *matCellDef="let row">{{row.catalog_number}}</td>
          </ng-container>
          <ng-container matColumnDef="customer_name">
            <th mat-header-cell *matHeaderCellDef>שם הלקוח</th>
            <td mat-cell *matCellDef="let row">
              {{row.customer_name}}
          
            </td>
          </ng-container>
        
          <ng-container matColumnDef="sum">
            <th mat-header-cell *matHeaderCellDef>סכום</th>
            <td mat-cell *matCellDef="let row">{{row.sum}} ₪</td>
          </ng-container>
          <!-- shipments Status Column -->
          <ng-container matColumnDef="datetime">
            <th mat-header-cell *matHeaderCellDef>תאריך הזמנה</th>
            <td mat-cell *matCellDef="let row">{{row.date_time |  date:'dd.MM.yy HH:mm'}}</td>
          </ng-container>
      
          <ng-container matColumnDef="delivery_type">
            <th mat-header-cell *matHeaderCellDef>סוג משלוח</th>
            <td mat-cell *matCellDef="let row">{{row.delivery_type}}</td>
          </ng-container>
          <ng-container matColumnDef="customer_address">
            <th mat-header-cell *matHeaderCellDef>כתובת למשלוח</th>
            <td mat-cell *matCellDef="let row">
              {{row.customer_address}}
              
            </td>
          </ng-container>
          <ng-container matColumnDef="customer_lastname">
            <th mat-header-cell *matHeaderCellDef>שם משפחה</th>
            <td mat-cell *matCellDef="let row">
              {{row.customer_lastname}}
          
            </td>
          </ng-container>
          <ng-container matColumnDef="customer_city">
            <th mat-header-cell *matHeaderCellDef>עיר</th>
            <td mat-cell *matCellDef="let row">
              {{row.customer_city}}
              
            </td>
          </ng-container>      
          
          <!-- <ng-container matColumnDef="code_coupon">
            <th mat-header-cell *matHeaderCellDef>קוד קופון</th>
            <td mat-cell *matCellDef="let row">{{row.code_coupon}}</td>
          </ng-container> -->
        
          <!-- <ng-container matColumnDef="details">
            <th mat-header-cell *matHeaderCellDef>פרטי משלוח</th>
            <td mat-cell *matCellDef="let row">
              <p *ngFor="let item of row.order_details">- {{item.name}}</p>
            </td>
          </ng-container>
          -->

          <!-- shipments Status Column -->
          <ng-container matColumnDef="status">
            <th class="status-cell"   mat-header-cell *matHeaderCellDef>סטטוס</th>
            <td class="status-cell" mat-cell *matCellDef="let row">

              <button  [ngStyle]="{'border-color':statusList[row.status].color}" mat-button class="status-button">
                <div [ngStyle]="{'background-color':statusList[row.status].color}" class="bullet-point"></div>

                {{statusList[row.status].text}}
                <div  class="inc-button spinner-button"></div> 
                <div  class="dec-button spinner-button"></div>
              
              </button></td>
          </ng-container>
          

          <ng-container matColumnDef="actions">
            <th mat-header-cell *matHeaderCellDef></th>
            <td mat-cell *matCellDef="let row" class="actions-cell">
                <div>
                <a (click)="viewShipment(row.id)">
                    <mat-icon [inline]="false" svgIcon="view"></mat-icon>
                </a>
                <a (click)="editShipment(row.id)">
                    <mat-icon [inline]="false" svgIcon="edit"></mat-icon>
                </a> 
                
            </div> 

        </ng-container>
          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;" ></tr>

        </table>
        </div></mat-tab>
    </mat-tab-group>
  </div>
