/* Structure */
.example-container {
    position: relative;
    padding: 5px;
  }
  
  .example-table-container {
    position: relative;
    max-height: 400px;
    overflow: auto;
  }
  
  table {
    width: 100%;
  }
  
  .example-loading-shade {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 56px;
    right: 0;
    background: rgba(0, 0, 0, 0.15);
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .example-rate-limit-reached {
    color: #980000;
    max-width: 360px;
    text-align: center;
  }
  
  /* Column Widths */
  .mat-column-number,
  .mat-column-state {
    max-width: 64px;
  }
  
  .mat-column-created {
    max-width: 124px;
  }
  
  .mat-flat-button {
    margin: 5px;
  }
  .mat-card{
    background: var(--color-sugar) 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 15px #0568B41A;
    border-radius: 5px;
  }
  .mat-card-title{
    text-align: left;
    font: 700 20px/26px Assistant;
    letter-spacing: 0px;
    color: #072550;
    text-align: right;
  }
  .mat-card{
    width: 100%;
    height: -webkit-fill-available;
    padding: 10px;
  }
  
  .mat-divider.mat-divider-vertical{
    position: absolute;
    right: 55%;
    height: 125px;
    top: 25px;
    
  }
  .mat-card-title{
    position: relative;
    height: 35px;
    line-height: 35px;
  }
  .card-toggle{
    position: absolute;
    left:0px;
    top:0px;
    bottom: 0px;
    margin: auto;
  }
  ::ng-deep .mat-dialog-content{
    padding-bottom: 3px!important;

  }
::ng-deep .more-vert-button,::ng-deep .more-vert-button .mat-button-wrapper{
    position: relative;
    top: -2px;
    width: 30px!important;
    height: 30px!important;
    line-height: 30px!important;
  }
::ng-deep .more-vert-icon {
  color: #d2d2d2!important; 
}
::ng-deep .menu-icon  .a{
    fill:#d2d2d2!important;

  }
  ::ng-deep .more-vert-button{
     .mat-icon{
       width:20px;
      .a{
        stroke: none;
      }
     } 
  }
::ng-deep .mat-menu-panel {
    min-width: auto!important;
  }
.menu-action-icon{
    margin-left: 0px!important;
}
.mat-list-item p{
text-align: left!important;
}
.card-details{
  width: 55%;
  height:100%;
  display: inline-block;
  margin: 15px 0px 5px;
  padding-top: 20px;
}
.card-analytics{
  width:45%;
  height:100%;
  display: inline-block;
}
.mat-grid-list.card-list{
  margin: 30px;
}
.card-details-grid{
  margin-left: 10px; 
}
.card-analytics-grid{
  margin-right: 15px; 

}
.mad-grid-text-left{
  position: absolute;
  left:5px;
}
.mad-grid-text-right{
  position: absolute;
  right:5px;
}
.mat-grid-tile p{
  font: 500 16px/24px Assistant;
letter-spacing: 0px;
color: var(--color-dark);
opacity: 1;
}
.card-analytics .mat-line{
  text-align: center;
}
.card-content{
  font: 700 14px/20px Assistant!important;
  font-weight: 700!important;
  letter-spacing: 0px;
  color: #163567;
  opacity: 1;
}
.card-title{
  font: 500 14px/20px Assistant!important;
  letter-spacing: 0px;
  color: #9C9C9C;
  opacity: 1;
}

.chart {
  border: 2px solid #000;
    border-radius: 50%;
    height: 80px;
    width: 80px;
    min-width: 80px;
    min-height: 80px;
    border-top-color: transparent;
    transform: rotate(300deg);
}
.mat-card-content{
  position: relative;
  height: 167px;
}
.mat-card-inactive {
  p, .mat-card-title,.card-title,.card-content{
    color: #DFDFDF;
  }
  
}


