<div class=" mat-elevation-z8">
  <mat-toolbar class="mat-toolbar-multiple">
    <mat-toolbar-row> 
        <h1>קופונים</h1>

    </mat-toolbar-row>
    <mat-toolbar-row>           
         <h5>סה״כ קופונים: <b>{{data.length}} קופונים</b></h5>
         <button mat-button [disabled]="false" class="add-item-button add-item-button-primary" (click)="addCoupon()">הוספת קופון     
            <mat-icon class="add-item-icon" [inline]="false" svgIcon="plus"></mat-icon>
        </button>
    </mat-toolbar-row>   
</mat-toolbar>
    <div class="example-loading-shade"
         *ngIf="isLoadingResults">
      <mat-spinner *ngIf="isLoadingResults"></mat-spinner>
    </div>

    <div class="mat-elevation-z8">
      <mat-grid-list class="card-list" [cols]="breakpoint" rowHeight="230" [gutterSize]="'25px'">
        <mat-grid-tile *ngFor="let item of data; let i = index">      
          <mat-card [ngClass]="{'mat-card-inactive': item.status==0}">
            <mat-card-title>
              {{item.name}}
              <div class="card-toggle"  >
              <mat-slide-toggle  color="primary" [checked]="item.status==1" (change)="changeStatus(item,$event)"></mat-slide-toggle>
              <button mat-icon-button class="more-vert-button"  (click)="editCoupon(item.id)">
                <mat-icon class="menu-action-icon" [inline]="false" svgIcon="edit"></mat-icon>
              </button>
              

              </div>
            </mat-card-title>
            <mat-divider></mat-divider>
            <mat-card-content>
           <div class="card-details">
            <mat-grid-list class="card-details-grid" cols="2" rowHeight="45" >
              <mat-grid-tile> <p class="mad-grid-text-right">קוד קופון:</p> </mat-grid-tile>
              <mat-grid-tile> <p class="mad-grid-text-left">{{item.code}}</p></mat-grid-tile>
              <mat-grid-tile><p class="mad-grid-text-right">ערך הנחה:</p> </mat-grid-tile>
              <mat-grid-tile><p class="mad-grid-text-left">{{item.discount}}{{item.discount_type==1?'%':''}} {{item.discount_type==1?'':'ש"ח'}}</p></mat-grid-tile>
              <mat-grid-tile><p class="mad-grid-text-right"> תאריך תפוגה:</p></mat-grid-tile>
              <mat-grid-tile><p class="mad-grid-text-left"> {{item.expiry_date}}</p></mat-grid-tile>
            </mat-grid-list>
            
            </div>
            <mat-divider [vertical]="true"></mat-divider>

            <div class="card-analytics">
              <mat-grid-list class="card-analytics-grid" cols="2" rowHeight="120" >
                <mat-grid-tile> 
                  <mat-list>
                    <mat-list-item >
                      <div mat-line class="card-title"> קופונים נוצלו: </div>
                      <div mat-line class="card-content">{{item.quantity_utilized}}/{{item.quantity}}</div>
                    </mat-list-item>
                  </mat-list>
                  


                </mat-grid-tile>
                <mat-grid-tile> 
                  <app-chart [status]="item.status==1" [quantity]="item.quantity_utilized" [percentage]="(item.quantity_utilized/item.quantity*100)"></app-chart>

              </mat-grid-tile>
               </mat-grid-list>

            </div>
          </mat-card-content>
            
          </mat-card>

        </mat-grid-tile>

      </mat-grid-list>
    </div>
    <!-- <div class="soon">
    בקרוב ב ystore...  
    </div> -->
  </div>
