<div class="welcome-container">
    <h1> ברוכים הבאים<strong> ל yStore - החנות החדשה שלכם! </strong></h1>
    <p>      
        yStore מאפשרת לכם לפתוח את החנות האינטרנטית שלכם בכמה קליקים מהירים!
        <br/> 
        בחנות תוכלו להוסיף מוצרים לפי קטגוריות, להוסיף שיטות שילוח וכמובן לסלוק כרטיסי אשראי.
    </p>
    <p>לפניכם אשף שיעזור לכם להקים את החנות החדשה שלכם בקלילות,
        עקבו אחר השלבים, תוך כמה דקות- החנות שלכם מוכנה!
        </p>
    <button class="stepper-button" matStepperNext mat-stroked-button>יאללה! <strong>מתחילים! </strong></button>
</div>