<div class="add-product-modal">
  <h2>עריכת מוצר

    <mat-icon class="cancel-icon" [inline]="false" svgIcon="cancel" (click)="dialogRef.close()"></mat-icon>

  </h2>
  <!-- <div class="example-loading-shade"
    *ngIf="isLoadingResults">
  <mat-spinner *ngIf="isLoadingResults"></mat-spinner>
  </div> -->
  <mat-divider></mat-divider>
  <mat-dialog-content>

    <form [formGroup]="productsForm" (ngSubmit)="onFormSubmit()">
      <mat-grid-list cols="4" rowHeight="80" [gutterSize]="'25px'">
       
    <mat-grid-tile colspan="2">
      <mat-form-field floatLabel="always" class="example-full-width">
        <mat-label>שם המוצר</mat-label>
        <input matInput placeholder="שם המוצר" formControlName="name" [errorStateMatcher]="matcher">
        <mat-error>
          <span *ngIf="!productsForm.get('name').valid && productsForm.get('name').touched">יש למלא את שם המוצר</span>
        </mat-error>
      </mat-form-field>
    </mat-grid-tile>
    <mat-grid-tile colspan="2">
      <p class="category-link"  [routerLink]="'/settings/category'" (click)="dialogRef.close()" >עריכת קטגוריות          
        <button  tabindex="-1" class="add-icon" type="button"   mat-icon-button >
          <mat-icon   matLine [inline]="false" svgIcon="add"></mat-icon>

          <img   [src]="'assets/img/add.svg'"/>
       </button>
      </p>
      <mat-form-field floatLabel="always" class="example-full-width">
     
        <mat-label>קטגוריה</mat-label>
        <mat-select formControlName="category_id"> <!--formControlName="category"-->
          <mat-option *ngFor="let category of categories" [value]="category.id">
            {{category.value}}
          </mat-option>
        </mat-select>            
        <mat-error>
          <span *ngIf="!productsForm.get('category_id').valid && productsForm.get('category_id').touched">יש למלא קטגוריה</span>

        </mat-error>
      </mat-form-field>
    </mat-grid-tile> 
    <mat-grid-tile colspan="4" class="textarea-form-field">
      <mat-form-field floatLabel="always" class=" example-full-width">
        <mat-label>תיאור המוצר</mat-label>
        <textarea matInput placeholder="תיאור המוצר" formControlName="description" [errorStateMatcher]="matcher">
        </textarea>
          <mat-error>
          <span *ngIf="!productsForm.get('description').valid && productsForm.get('description').touched">יש למלא את תיאור המוצר</span>
        </mat-error>
      </mat-form-field>
    </mat-grid-tile>
    <mat-grid-tile >
      <mat-form-field floatLabel="always" class="example-full-width">
        <mat-label>מחיר</mat-label>
        <input type="number" class="price-input" min="0" matInput placeholder="מחיר" formControlName="price" [errorStateMatcher]="matcher">
        <span class="currency-span" [ngStyle]="{'right':((productsForm.get('price').value.toString().length)*10+5)+'px' }" *ngIf="productsForm.get('price').valid">₪</span>
        <!-- <div  class="inc-button spinner-button"></div>
        <div  class="dec-button spinner-button"></div> -->
        <mat-error>
          <span *ngIf="!productsForm.get('price').valid && productsForm.get('price').touched">יש למלא מחיר</span>
        </mat-error>
      </mat-form-field>
    </mat-grid-tile>
    <mat-grid-tile >
      <mat-form-field floatLabel="always" class="example-full-width">
        <mat-label>מחיר מבצע</mat-label>
        <input type="number" class="price-input" min="0" matInput placeholder="מחיר מבצע" formControlName="sale_price" [errorStateMatcher]="matcher" nullValue>
        <span class="currency-span" [ngStyle]="{'right':((productsForm.get('sale_price').value.toString().length)*10+5)+'px' }" *ngIf="productsForm.get('sale_price').value&&productsForm.get('sale_price').value.toString().length>0">₪</span>

        <!-- <div  class="inc-button spinner-button"></div>
        <div  class="dec-button spinner-button"></div> -->
        <mat-error>
          <span *ngIf="!productsForm.get('sale_price').valid && productsForm.get('sale_price').touched">יש למלא מחיר מבצע</span>
        </mat-error>
      </mat-form-field>
    </mat-grid-tile>
    <mat-grid-tile >
      <mat-form-field floatLabel="always" class="example-full-width">
        <mat-label>מק"ט</mat-label>
        <input matInput placeholder='מק"ט' formControlName="catalog_number"  [errorStateMatcher]="matcher" nullValue><!--formControlName="catalog_number"-->
        <mat-error>
          <span *ngIf="!productsForm.get('catalog_number').valid && productsForm.get('catalog_number').touched">יש למלא מק"ט</span>

        </mat-error>
      </mat-form-field>
    </mat-grid-tile>
    <mat-grid-tile >
      <mat-form-field floatLabel="always" class="example-full-width">
        <mat-label>כמות</mat-label>
        <input type="number" min="0" matInput placeholder="כמות" formControlName="stock_units" [errorStateMatcher]="matcher">
        <div  class="inc-button spinner-button"></div>
        <div  class="dec-button spinner-button"></div>
        <mat-error>
          <span *ngIf="!productsForm.get('stock_units').valid && productsForm.get('stock_units').touched">יש למלא כמות במלאי</span>
        </mat-error>
      </mat-form-field>
    </mat-grid-tile>

    <mat-grid-tile colspan="4" rowspan="1" class="hidden-form-field">
      <mat-form-field floatLabel="always" class=" example-full-width">
        <mat-label>העלאת תמונות מוצר</mat-label>
        <input hidden  matInput  >
        <input id="file" #fileInput formControlName="img" hidden type='file' (change)="onSelectFile($event)" multiple >   
       
      </mat-form-field>
    </mat-grid-tile>
</mat-grid-list>



<div class="upload-img-container">
  <div class="product-image">
    <button class="file-upload-button" type="button" mat-raised-button (click)="fileInput.click()">
      <p>לחץ לבחירת תמונה</p> 
       <mat-icon class="upload-icon" svgIcon="cloud_upload"></mat-icon>
      
     </button>
    </div>
    <ng-container *ngFor="let url of urls; let i = index" >
     <div  class="product-image" *ngIf="!url.is_removed">
      <img class=""  [src]="url.id?(imgUrl+url.path):url.path" >           
      <mat-icon class="cancel-icon" svgIcon="cancel" (click)="removeImage(i)"></mat-icon>
     </div>
    </ng-container>
    </div>
    <mat-error>
      <span *ngIf="!productsForm.get('img').valid && productsForm.get('img').touched">יש למלא מחיר</span>
    </mat-error>

<mat-divider class="mat-divider-bottom"></mat-divider>  
<button mat-button type="submit" [disabled]="!productsForm.valid" class="save-item-button edit-item-button" >
שמור

</button> 
<button mat-button type="button" (click)="openDeleteConfirmModal()" class="save-item-button remove-item-button " >
  הסר מוצר

</button>
</form>
</mat-dialog-content>

</div>

