<div class="details-container"> 
    <div class="wizard-form">
    <div [formGroup]="regForm" >
        <h2>כמה פרטים טכניים וסיימנו</h2>
        <p> וסטיבו אאוגו וסטיבולום סוליסי טידום בעליק. קונדימנטום קורוס בליקרה, נוטום, לפריקך תצטריק לרטי.</p>
        <mat-grid-list formGroupName="detailsForm" class="wizard-grid-list" cols="1" rowHeight="65px" gutterSize="10px">
            <mat-grid-tile class="signup-form-field">
                <mat-form-field >
                    <mat-label>כתובת העסק</mat-label>
                    <input matInput  formControlName="company_address" >
                    <mat-error>
                        <p *ngIf="!regForm.get('detailsForm').get('company_address').valid && regForm.get('detailsForm').get('company_address').touched"><img src="assets/img/error.svg"/>כתובת העסק לא תקין</p>
                    </mat-error>
                    <mat-hint>
                        <p *ngIf="regForm.get('detailsForm').get('company_address').valid && regForm.get('detailsForm').get('company_address').touched"><img src="assets/img/valid.svg"/>כתובת העסק תקינה</p>
                    </mat-hint>
                </mat-form-field>
            </mat-grid-tile>
            <mat-grid-tile class="signup-form-field">
                <mat-form-field >
                    <mat-label>אנא בחר עיר</mat-label>
                    <input matInput  formControlName="company_city" >
                    <mat-error>
                        <p *ngIf="!regForm.get('detailsForm').get('company_city').valid && regForm.get('detailsForm').get('company_city').touched"><img src="assets/img/error.svg"/>עיר לא תקינה</p>
                    </mat-error>
                    <mat-hint>
                        <p *ngIf="regForm.get('detailsForm').get('company_city').valid && regForm.get('detailsForm').get('company_city').touched"><img src="assets/img/valid.svg"/>תקין</p>
                    </mat-hint>
                </mat-form-field>
            </mat-grid-tile>
            <mat-grid-tile class="signup-form-field">
                <mat-form-field >
                    <mat-label>סיסמה להתחברות</mat-label>
                    <input type="password" matInput  formControlName="password" >
                    <mat-error>
                        <p *ngIf="!regForm.get('detailsForm').get('password').valid && regForm.get('detailsForm').get('password').touched"><img src="assets/img/error.svg"/>סיסמה לא תקינה</p>
                    </mat-error>
                    <mat-hint>
                        <p *ngIf="regForm.get('detailsForm').get('password').valid && regForm.get('detailsForm').get('password').touched"><img src="assets/img/valid.svg"/>סיסמה תקינה</p>
                    </mat-hint>
                </mat-form-field>
            </mat-grid-tile>
            <mat-grid-tile class="mat-right-grid-tile column-flex-direction" colspan="1">
                    <mat-checkbox color="primary" formControlName="is_policy_approved" >אני מאשר/ת את התקנון החנות</mat-checkbox>
                    <mat-error>
                        <p *ngIf="!regForm.get('detailsForm').get('is_policy_approved').valid && regForm.get('detailsForm').get('is_policy_approved').touched"><img src="assets/img/error.svg"/>חובה לאשר את תקנון החנות</p>
                    </mat-error>
                    <button (click)="signUp()" [disabled]="!regForm.get('detailsForm').valid" class="stepper-button" matStepperNext mat-stroked-button>סיימנו איזה כיף! עוברים לחנות</button>

               
            </mat-grid-tile>
        </mat-grid-list>
        
    </div>
        </div>
    <img class="wizard-img" src="assets/img/wizard_thechnical_details.svg">
</div>
