<div class="lead">
    <mat-grid-list cols="5" rowHeight="100%">
    <mat-grid-tile [colspan]="3" [rowspan]="1" >
        <div class="right_side">
            <h2>ברוכים הבאים ל ystore</h2>
            <h3>אז מה זה ystore?</h3>
            <div class="content">
                מערכת חדשנית המאפשרת לכם להקים חנות וירטואלית בשלושה קליקים!
                דרך המערכת תוכלו לנהל את החנות און ליין שלכם: להוסיף מוצרים לחלקם לקטגוריות, לנהל מלאי, להוסיף אפשרויות שילוח, למכור את המוצרים שלכם - הפיזיים או הוירטואליים וכמובן לבצע סליקה באשראי ולקבל תשלום.
                רוצים גם אתם להתחיל למכור מוצרים בלי כאב ראש של הקמת אתר? הצטרפו אלינו!
            </div>
            <button (click)="sentYaadLead()" mat-button>כן, אני רוצה!</button>
        </div>
    </mat-grid-tile>
    <mat-grid-tile [colspan]="2" [rowspan]="1">
        <img class="ystore_image" src="./assets/img/Group2829.png">
    </mat-grid-tile>
    </mat-grid-list>
    
</div>
<footer>
    <mat-grid-list cols="1" rowHeight="100px">
        <mat-grid-tile>
            <img src="./assets/img/logo.png">
            <p> אתר זה נבנה באמצעות <strong>yStore</strong> חנות דיגיטלית בקליק</p>
        </mat-grid-tile>
    </mat-grid-list>
</footer>