.lead{
    text-align: center;
    height: calc(100vh - 100px);
    color:#093874;
    font-family: Heebo;
    padding: 0 140px;
    .right_side{
        padding-left:140px;
    }
    .ystore_image{
        max-width: 100%;
        object-fit: contain;
    }
    h2{
        font-size: 32px;
        font-weight: bold;
        color:#093874;

    }
    h3{
        font-size: 32px;
        font-weight: bold;
        color:#093874;
    }
    h4{
        font-size: 22px;
    }
    .content{
        font-size: 16px;
        color:#093874;
        margin-top: 35px;
    }
    button{
        background-color: #289CDE;
        color: #FFFFFF;
        width: 169px;
        height: 50px;
        font-size: 16px;
        margin-top: 60px;
    }
    .yaad_link_back {
        height: 45px;
        border: 1px solid #093874;
        border-radius: 10px;
        color: #093874;
        padding: 0 20px;
        font: normal normal normal 16px/14px Heebo;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 41px;
        text-decoration: none;
        width: 157px;
        text-align: center;
        margin: 40px auto 0 auto;
    }
}
footer{
    background: #07254F 0% 0% no-repeat padding-box;
    border: 1px solid #707070;
    height: 100px;
    //position: absolute;
    width: 100%;
    bottom: 0px;
    color: #FFFFFF;
    font: 400 14px/19px Assistant;
    img{
        width: 70px;
        position: absolute;
        top: -50px;
    }
    p{
        margin-top: 65px;
        font-weight: 300;
    }
    strong{
        font: 600 14px/19px Assistant;
    }
    .mat-grid-tile{
        overflow: visible;
    }
    
}