.view-shipment-modal {
  /* Chrome, Safari, Edge, Opera */
  /* Firefox */
}

.view-shipment-modal h2 {
  font: 700 20px/26px Assistant;
  letter-spacing: 0px;
  color: #072550;
}

.view-shipment-modal .mat-divider {
  margin-bottom: 10px;
  margin-top: 10px;
}

.view-shipment-modal .mat-divider-bottom {
  margin-top: 25px;
}

.view-shipment-modal .textarea-form-field {
  top: calc(95px) !important;
  height: calc(110px) !important;
}

.view-shipment-modal .mat-grid-tile {
  padding: 0px 2px;
}

.view-shipment-modal .mat-datepicker-toggle {
  position: absolute;
  left: 5px;
  top: -15px;
}

.view-shipment-modal ::ng-deep .mat-select-arrow {
  border-left: 10px solid transparent !important;
  border-right: none;
  border-image-source: url("./../../../../assets/img/down-arrow.svg") !important;
  border-image-repeat: stretch !important;
}

.view-shipment-modal ::ng-deep .mat-form-field-appearance-legacy .mat-form-field-label {
  font: 600 18px/24px Assistant;
  letter-spacing: 0px;
  color: #051F43;
}

.view-shipment-modal ::ng-deep .mat-input-underline {
  display: none;
}

.view-shipment-modal ::ng-deep .mat-form-field-appearance-legacy .mat-form-field-infix {
  background: #FCFDFE 0% 0% no-repeat padding-box;
  border: 1px solid #E7E9ED;
  border-radius: 5px;
  height: 25px;
  line-height: 25px;
  padding: 5px;
  margin-top: 30px;
}

.view-shipment-modal ::ng-deep .textarea-form-field .mat-form-field-appearance-legacy .mat-form-field-infix {
  height: 50px;
}

.view-shipment-modal ::ng-deep .hidden-form-field .mat-form-field-appearance-legacy .mat-form-field-infix {
  background: none;
  border: none;
}

.view-shipment-modal ::ng-deep input.mat-input-element {
  font: 500 16px/24px Assistant;
  letter-spacing: 0px;
  color: #051F43;
}

.view-shipment-modal ::ng-deep .mat-form-field-label-wrapper {
  top: -30px;
}

.view-shipment-modal ::ng-deep .mat-form-field-underline {
  display: none;
}

.view-shipment-modal ::ng-deep .spinner-button {
  position: absolute;
  cursor: default;
  z-index: 2;
  background-color: #fcfdfe;
  width: 14.5px;
  text-align: center;
  margin: 0px;
  pointer-events: none;
  height: 15px;
  line-height: 15px;
}

.view-shipment-modal input::-webkit-outer-spin-button,
.view-shipment-modal input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.view-shipment-modal input[type=number] {
  -moz-appearance: textfield;
}

.view-shipment-modal .currency-span {
  font: 500 16px/24px Assistant;
  letter-spacing: 0px;
  color: #A8A8A8;
  position: absolute;
  right: 5px;
}

.view-shipment-modal .upload-img-container {
  margin-top: -40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-flow: wrap;
      flex-flow: wrap;
}

.view-shipment-modal .file-upload-button {
  background: #FFFFFF 0% 0% no-repeat padding-box;
  border: 1px solid #707070;
  border-radius: 10px;
  width: 100px;
  height: 100px;
  padding: 20px 0px;
}

.view-shipment-modal .file-upload-button p {
  text-align: center;
  font: 600 16px/17px Assistant;
  letter-spacing: 0px;
  color: #051F43;
  word-wrap: break-word;
  white-space: normal;
  width: 100px;
  margin-bottom: 0px;
}

.view-shipment-modal .file-upload-button ::ng-deep .upload-icon svg .a {
  fill: inherit;
  stroke: inherit;
}

.view-shipment-modal ::ng-deep .cancel-icon {
  cursor: pointer;
  float: left;
}

.view-shipment-modal ::ng-deep .cancel-icon svg .a {
  stroke: #07244c;
}

.view-shipment-modal .product-image {
  position: relative;
  width: 100px;
  height: 100px;
  margin: 5px 0px 5px 5px;
}

.view-shipment-modal .product-image img {
  width: 100px;
  height: 100px;
  border-radius: 10px;
}

.view-shipment-modal .product-image .cancel-icon {
  position: absolute;
  left: 5px;
  top: 5px;
  width: 19px;
  height: 19px;
  cursor: pointer;
}

.view-shipment-modal .mat-input-element:disabled, .view-shipment-modal .mat-form-field-type-mat-native-select.mat-form-field-disabled .mat-form-field-infix::after {
  color: #A8A8A8;
}

.view-shipment-modal .order-details-grid {
  font: 600 14px/24px Assistant;
  letter-spacing: 0px;
  color: #051F43;
}

.view-shipment-modal .order-details-grid .order-details-product {
  border-right: none !important;
}

.view-shipment-modal .order-details-grid .order-details-cost {
  border-left: none !important;
}

.view-shipment-modal .order-details-grid .order-details-cost ::ng-deep span {
  margin-right: 2px;
}

.view-shipment-modal .order-details-grid ::ng-deep .order-details-product .mat-figure {
  -webkit-box-pack: right;
      -ms-flex-pack: right;
          justify-content: right;
}

.view-shipment-modal .order-details-grid .header-label {
  margin-top: 35px;
}

.view-shipment-modal .order-details-grid .order-details-cell {
  border: 1px solid #E0E0E0;
  border-right: none;
}

.view-shipment-modal .order-details-grid .mat-form-field {
  width: 100%;
  margin-left: 15px;
}

.view-shipment-modal .order-details-grid ::ng-deep .mat-form-field-appearance-legacy .mat-form-field-infix {
  background: #FCFDFE 0% 0% no-repeat padding-box;
  border: 1px solid #E7E9ED;
  border-radius: 5px;
  height: 25px;
  line-height: 25px;
  padding: 5px;
  margin-top: 30px;
  font: 600 16px/26px Assistant;
  color: #051D3F;
}

.view-shipment-modal .order-details-grid input.mat-input-element, .view-shipment-modal .order-details-grid textarea.mat-input-element {
  font: 600 16px/24px Assistant;
  letter-spacing: 0px;
  color: #051F43;
}

.view-shipment-modal .order-details-grid .currency-span {
  font: 500 16px/24px Assistant;
  letter-spacing: 0px;
  color: #072550;
  position: absolute;
  right: 5px;
  top: 7px;
}
/*# sourceMappingURL=view-shipment.component.css.map */