/* You can add global styles to this file, and also import other style files */
@import 'assets/style/colors.scss';
@import 'assets/style/material.scss';

 
html,
body {
    height: 100%;
    width:100%;
}

body {
    margin: 0;
    background: var(--color-background) 0% 0% no-repeat padding-box;
}

@import '~@angular/material/theming';
$custom-typography: mat-typography-config(
  $font-family: 'Assistant'  
);
@include mat-core($custom-typography);

h2{
    font: Medium 32px/41px Fb Eleganti;
    letter-spacing: 0px;
    color: var(--color-dark);
    opacity: 1;
}
h5{
    font: Regular 20px/26px Fb Eleganti;
    letter-spacing: 0px;
    color: var(--color-grey);
    opacity: 1;
} 
h5 b{
    font: Medium 20px/26px Fb Eleganti;
    letter-spacing: 0px;
    color: var(--color-dark);
    opacity: 1;
}
p{
    font: Medium 18px/24px Fb Eleganti;
    letter-spacing: 0px;
    color: var(--color-grey);
    opacity: 1;
    outline: none;
}
.save-item-button{
    margin: 20px 30px!important;
    background: transparent linear-gradient(119deg, var(--color-warm) 0%, var(--color-peach) 50%, var(--color-pink) 100%) 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 15px var(--color-button-box-shadow);
    border-radius: 100px !important;
    opacity: 1;
    width: 143px;
    height: 40px;
    line-height: 40px !important;
    font: 500 18px/24px Assistant;
    letter-spacing: 0px;
    color: var(--color-snow)!important;
}
.edit-item-button{
    width: 70px;
    margin: 10px 0px 0px !important;    
    float: left;

}
.remove-item-button{
    background: inherit;
    box-shadow: 0px 3px 15px #0000001A;
    border: 1px solid #E2E2E2;
    border-radius: 100px;
    font: 600 18px/24px Assistant;
    letter-spacing: 0px;
    color: #BC0000!important;
    width:120px;
    margin: 10px 0px 0px !important;
    

}
.save-item-button-primary{
    background: transparent linear-gradient(117deg, #37C6FB 0%, #321E67 100%) 0% 0% no-repeat padding-box;

}
.save-item-button-right{
    text-align: right!important;
    margin: 10px 0px 0px!important;
}
.add-item-button{
    background: transparent linear-gradient(119deg, var(--color-warm) 0%, var(--color-peach) 50%, var(--color-pink) 100%) 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 15px var(--color-button-box-shadow);
    border-radius:100px!important;
    opacity: 1;
    width: 143px;
    height: 40px;
    line-height:40px!important;
    font: 500 18px/24px Assistant;
    letter-spacing: 0px;
    color: var(--color-snow);
    text-align: right!important;
}
.add-item-button-primary{
    background: transparent linear-gradient(117deg, #37C6FB 0%, #321E67 100%) 0% 0% no-repeat padding-box;
}

.add-item-button .mat-icon,.save-item-button .mat-icon{
    width:13px;
    position: absolute;
    left: 20px;
    top: -2px;
    bottom: 0px;
    margin: auto;
}
td.mat-cell{   
    background: var(--color-snow) 0% 0% no-repeat padding-box;
    border-bottom-color:var(--color-light-grey)  ; 
    font: 500 18px/20px Assistant;
    color: var(--color-grey);

}
th.mat-header-cell{
    border-bottom-color: transparent;
    font: 500 16px/20px Assistant;
    color: var(--color-grey);

}
.mat-header-row{
    background:var(--color-background);

}
th.mat-header-cell:first-of-type, 
td.mat-cell:first-of-type, 
td.mat-footer-cell:first-of-type {
    /* row padding */
    padding-right: 30px!important;
  }
  
  td.mat-cell:last-child {
    /* row padding */
    padding-left: 30px!important;
  }
  .mat-row:hover{
    transform: scale(1);
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    box-shadow: 0px 3px 6px var(--color-active-box-shadow);
    -webkit-box-shadow: 0px 3px 6px var(--color-active-box-shadow);
    -moz-box-shadow: 0px 3px 6px var(--color-active-box-shadow);
  }
  .mat-row:hover .mat-cell{
      background: var(--color-sugar);
  }
  
.mat-toolbar{
    background: var(--color-sugar) 0% 0% no-repeat padding-box;
    width: 100%;
    padding: 30px;
    position: relative;

    
}
.mat-toolbar h1{
    font: 500 30px/41px Assistant;
    letter-spacing: 0px;
    color: var(--color-dark);
}
.mat-toolbar-row{
    height: 60px!important;
}
.mat-toolbar-multiple .mat-toolbar-row{
    height: 30px!important;
    padding: 0px 0px!important;
}

.add-item-button{
    position: absolute!important;
    left: 30px;
    top: 0px;
    bottom: 0px;
    margin: auto!important;
}

.mat-elevation-z8{
    box-shadow: none;
}
.add-item-icon {
    color: var(--color-snow)!important; 
  }
.add-item-icon  svg .a{
      fill: var(--color-snow)!important;
      stroke: var(--color-snow)!important;
  
}
.mat-divider{
    border-top-color:var(--color-light-grey)!important;
    border-right-color:var(--color-light-grey)!important;
    border-right-width: 2px!important;

  }
  .mat-dialog-container{
    background: #FDFEFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 15px #0568B41A;
    border-radius: 5px;

  }

  mat-row, mat-header-row, mat-footer-row, th.mat-header-cell, td.mat-cell, td.mat-footer-cell{
    max-width: 300px;
    overflow: hidden;
  }
 
  //input style
  input[type=number]::-webkit-inner-spin-button {
    opacity: 1;
  }
  textarea {
    resize: none!important;
  }

 
  .mat-row:hover .actions-cell .mat-icon:hover .a{
    stroke: #696969!important;
    stroke-width: 0.5px;
    stroke-opacity: 0.5;
  }
  .mat-button[disabled]{
    background: #cdcdcd;
  }

  
  
  mat-grid-tile:not(.signup-form-field) .ng-invalid:not(form)  .mat-form-field-label::after{
    content: ' * '; 
    top:2px;
    color: #051F43;
    position: relative;
  }
  
 
  mat-grid-tile:not(.hidden-form-field):not(.signup-form-field) .mat-form-field-appearance-legacy:not(.mat-form-field-disabled) .mat-form-field-infix:hover,
  mat-grid-tile:not(.hidden-form-field):not(.signup-form-field) .mat-form-field-infix:focus-within{
    border: 1px solid #051F43!important;
  }
  mat-grid-tile.search:not(.hidden-form-field):not(.signup-form-field) .mat-form-field-appearance-legacy:not(.mat-form-field-disabled) .mat-form-field-infix:hover,
  mat-grid-tile.search:not(.hidden-form-field):not(.signup-form-field) .mat-form-field-infix:focus-within{
    border: 0!important;
  }
  .mat-form-field-infix{
    font: 500 16px/24px Assistant;
  }
  .spacer {
    flex: 1 1 auto;
  }
  .mat-list-base.bottom-list .mat-list-item .mat-line{
      white-space: pre-wrap!important;
      overflow: hidden!important;
      text-overflow: unset!important;
  }
.cdk-overlay-container{
    overflow-y: scroll;
}